.no-bg {
  background-color: transparent !important; }

.gray-bg {
  background-color: #eee; }

.row {
  width: 950px;
  max-width: 100%;
  display: flex;
  padding: 10px 10px 10px 10px; }

.row-flex {
  display: flex;
  flex-direction: row; }

.logo-container {
  width: 33.3%;
  display: flex;
  justify-content: flex-start; }
  @media screen and (max-width: 950px) {
    .logo-container {
      width: 1%; } }

.nav-container {
  width: 66.7%;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 950px) {
    .nav-container {
      width: 99%; } }

.nav li {
  display: block;
  float: left; }
  .nav li a {
    margin: 0 0 0 2em;
    font-size: 120%;
    text-decoration: none;
    color: #0173AD; }
  .nav li a:active {
    color: #002a3f; }

.sticky {
  width: 100%;
  position: fixed;
  left: 37.5%;
  margin-left: -37.5%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  box-shadow: 0 0 3px #ccc;
  transition: background-color 0.5s, padding 0.3s, box-shadow 0.3s; }
  .sticky div {
    padding: 0px;
    transition: padding 0.3s; }
    @media screen and (max-width: 950px) {
      .sticky div {
        padding: 0 5px; } }
    .sticky div div nav ul {
      line-height: 43px;
      margin: 0px; }
    .sticky div div a img {
      width: 60px;
      height: 25px;
      padding-top: 9px; }

.navbox {
  z-index: 10;
  width: 100%;
  position: fixed;
  left: 37.5%;
  margin-left: -37.5%; }

.paragraph {
  top: 500px;
  padding: 120px 0; }
  @media screen and (max-width: 600px) {
    .paragraph div {
      flex-direction: column; }
      .paragraph div p, .paragraph div h3 {
        text-align: center; }
      .paragraph div img {
        margin: auto;
        margin-bottom: 15px;
        padding-right: 0px; } }

.filler {
  height: 600px; }

.intro {
  display: flex;
  flex-direction: row;
  width: 600px;
  max-width: 95%;
  align-items: center; }
  .intro p, .intro h2, .intro h3 {
    text-align: left;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 10px; }
    @media screen and (max-width: 600px) {
      .intro p, .intro h2, .intro h3 {
        padding-left: 0px;
        text-align: center; } }

.my-name {
  color: #283E56;
  position: relative;
  top: 500px;
  font-family: 'Kavivanar', cursive;
  font-size: 250%;
  font-weight: 400; }

.my-quote {
  color: #F05F40;
  text-align: left;
  position: relative;
  top: -5px;
  font-size: 150%;
  font-weight: 100; }

.projects-container {
  background-color: #efefef; }

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 100%; }
  @media screen and (max-width: 950px) {
    .projects {
      flex-direction: column; }
      .projects a {
        max-width: 100% !important; } }
  .projects a {
    max-width: 50%;
    text-decoration: none; }

.project {
  display: flex;
  padding: 30px 0 30px 0; }
  .project img {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    margin: 0 20px; }
  @media screen and (max-width: 950px) {
    .project {
      flex-direction: column;
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px; }
      .project p, .project h3 {
        text-align: center; }
      .project img {
        margin: auto;
        margin-bottom: 15px; } }

.left-project {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 0 15px 0 15px;
  padding-bottom: 30px; }

.right-project {
  text-align: left;
  margin: 0 15px 0 15px;
  padding-bottom: 30px; }

.bubbles-container {
  height: 180px; }
  .bubbles-container .bubble-img {
    vertical-align: middle;
    padding: 20px 0 20px 0;
    min-width: 130px;
    max-width: 130px;
    min-height: 130px;
    max-height: 130px;
    transition: max-height 0.3s, max-width 0.3s, min-height 0.3s, min-width 0.3s, padding 0.3s; }
    @media screen and (max-width: 600px) {
      .bubbles-container .bubble-img {
        min-width: 90px;
        max-width: 90px;
        min-height: 90px;
        max-height: 90px; } }
    .bubbles-container .bubble-img:hover {
      padding: 0px;
      min-width: 170px;
      max-width: 170px;
      min-height: 170px;
      max-height: 170px; }
      @media screen and (max-width: 600px) {
        .bubbles-container .bubble-img:hover {
          min-width: 110px;
          max-width: 110px;
          min-height: 110px;
          max-height: 110px; } }

.bubble-img {
  min-width: 130px;
  max-width: 130px;
  min-height: 130px;
  max-height: 130px;
  align-self: center; }

.bubble-img-large {
  min-width: 180px;
  max-width: 180px;
  min-height: 180px;
  max-height: 180px; }

.expandBar {
  height: 0px; }
  .expandBar div div {
    position: relative;
    top: -130px;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer; }
  .expandBar p {
    color: #fff; }

.collapsed {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  max-height: 270px;
  min-height: 270px;
  transition: max-height 0.5s; }
  @media screen and (max-width: 950px) {
    .collapsed {
      max-height: 500px;
      min-height: 500px; } }

.extended {
  display: flex;
  justify-content: flex-start;
  max-height: 900px;
  transition: max-height 0.5s; }
  @media screen and (max-width: 950px) {
    .extended {
      max-height: 1500px; } }

.about-item {
  padding-bottom: 30px;
  width: 1000px;
  max-width: 100%;
  margin: auto; }
  .about-item img {
    padding-right: 50px; }
  .about-item h3 {
    text-align: left; }
  @media screen and (max-width: 600px) {
    .about-item {
      flex-direction: column; }
      .about-item p {
        text-align: center; }
      .about-item h2, .about-item h3 {
        text-align: center; }
      .about-item img {
        margin: auto;
        margin-bottom: 15px;
        padding-right: 0px; } }

.horline {
  width: 150px;
  margin-bottom: 70px;
  border: 1px solid #F05F40; }

.articles {
  margin: 0 20px 40px 20px;
  max-width: 95%; }

.blue-text {
  color: #0173AD; }
